[opsrock-hhvm-depends]
name=Opsrock hhvm depends for Amazon Linux Repository
baseurl=https://packagecloud.io/opsrock-hhvm/hhvm-depends/el/6/$basearch
enabled=1
priority=10
gpgcheck=1
gpgkey=https://packagecloud.io/gpg.key
includepkgs=glog,tbb
sslverify=true
